In [7]:
import pandas as pd

In [12]:
 dfmi = pd.DataFrame([list('abcd'),
   .....:                      list('efgh'),
   .....:                      list('ijkl'),
   .....:                      list('mnop')],
                     columns=['col1','col2','col3','col4']
                    )

In [13]:
dfmi

  col1 col2 col3 col4
0    a    b    c    d
1    e    f    g    h
2    i    j    k    l
3    m    n    o    p

In [14]:
dfmb=dfmi['col2']

In [18]:
dfmi is dfmb

False